<div class="center-cell">
	<div class="row">
		<div class="col-xs-12 text-center">
			<img src="components/login/images/logo.png" width="48px"/><div class="brandname">Brand name</div>
		</div>
		<div class="col-xs-12 margin-top-20">
			<form name="loginForm" novalidate>
				<div class="form-group">
					<input type="email" name="username" ng-model="vm.credentials.username" class="form-control" placeholder="Username" required/>
					<div class="text-danger nga-fast nga-stagger-fast nga-slide-up" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">Please enter a valid username</div>
				</div>
				
				<div class="form-group">
					<input type="password" name="password" ng-model="vm.credentials.password" class="form-control" placeholder="Passord" minlength="5" required/>
					<div class="text-danger nga-fast nga-stagger-fast nga-slide-up" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">Please enter a valid password</div>
				</div>
				
				<div class="form-group">
					<button class="form-control btn" ng-class="{'btn-primary': loginForm.$valid}" ng-disabled="loginForm.$invalid" ng-click="vm.login()">
						Login
					</button>
				</div>
			</form>
		</div>
	</div>
</div>